#footer-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: black 1px 1px 5px;
}

#footer-btn:hover {
    opacity: 0.8;
}

#footer {
    visibility: hidden;
    width: 80%;
    /* float: middle; */
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2%;
    position: absolute;
    z-index: 100;
    left: 8%;
    bottom: 10%;
    opacity: 0.95;

}

@media only screen and (max-width: 800px) {
    #footer {
        width: 90%;
        left: 3%;
    }
}

a:link,
a:visited {
    color: var(--primary);
    text-decoration: underline;
}