@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background: #2DCC70;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
}

.content {
    padding: 5%;
}

.logo {
    width: 18%;
    border-radius: 20px;
}

a:link,
a:visited {
    color: white;
    text-decoration: underline;
}